.wrapper {
    margin-bottom: 100px;
}

.wrapper__info {
    max-width: 846px;
    width: 100%;
    margin: 0 auto;
}

.wrapper__picture {
    width: 100%;

    img {
        width: 100%;
    }
}

.wrapper__title {
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
    text-align: center;
    color: #222222;
}

.wrapper__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px !important;
}

.wrapper__item {
    max-width: 394px;
    width: 100%;
    margin-right: 30px;
}

.weather__title {
    margin: 15px 0 5px 0;
    font-family: 'Poppins';
    color: #000000;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #000000;
}

.weather__text {
    margin: 0 0 20px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.weather__link {
    display: block;
    padding: 21px 0;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border: 1.5px solid #000000;
    border-radius: 42px;
    transition: 0.2s ease;

    &:hover {
        color: #fff;
        background-color: #000;
        border: 1px solid transparent;
    }
}

@media only screen and (max-width:565px) {
    .wrapper {
        margin-bottom: 50px;
    }

    .wrapper__title {
        margin: 0 0 20px 0;
        font-size: 30px;
        line-height: 34px;
    }

    .wrapper__list {
        display: flex;
        margin: 0 auto !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .wrapper__item {
        width: 100%;
        margin: 0;
    }

    .weather__title {
        font-size: 42px;
        line-height: 63px;
    }

    .weather__text {
        font-size: 20px;
        line-height: 30px;
    }

    .weather__link {
        font-size: 24px;
        line-height: 29px;

        width: 100%;
    }

    .weather {
        margin: 0 auto;
        display: flex !important;
        flex-direction: column;
        /* align-items: center; */
        text-align: left !important;
    }
}